body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}
p {
    background: #00bcd4;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
header {
    background: #111;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.upload-box {
    background: rgba(255,255,255,0.1);
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
input[type=file], input[type=password] {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}
button {
    background: #00bcd4;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background: #0097a7;
}
footer {
    margin-top: 40px;
    font-size: 14px;
    opacity: 0.8;
}
