.app {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #0f0f0f;
  font-family: Arial, sans-serif;
  color: #fff;
}

/* Top Bar */
.topbar {
  align-items: center;
  justify-content: space-between;
   padding: 14px 20px;
  background: #181818;
  border-bottom: 1px solid #2a2a2a;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
  float: right;
}

.logo-icon {
  width: 26px;
  height: 26px;
  border-radius: 6px;
  background: linear-gradient(135deg, #7cc6ff, #4a7cff);
  display: inline-block;
}

/* Menu Icon */
.menu-icon {
  width: 26px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-icon div {
  width: 100%;
  height: 3px;
  background: #e0e0e0;
  border-radius: 3px;
}

/* Layout */
.container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 130px;
  background: #121212;
  height: 100vh;
  padding: 20px;
  border-right: 1px solid #2a2a2a;
  transition: 0.3s;
  overflow: hidden;
  float: left;
  position: absolute;
  left: 0px;
}

.sidebar.hidden {
  width: 0;
  padding: 0;
}

.sidebar .link {
  display: block;
  padding: 12px 10px;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 8px;
  border-radius: 6px;
}

.sidebar link:hover {
  background: #1e1e1e;
  color: #fff;
}

/* Main Content */
.content {
  flex: 1;
}
/*dashboardpage mein contents */
.dashpage{
  height: 100vh;
  background-color: red;
}
.dashpage h1{
  text-align: center;
}
